<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <!--Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <title>Vacation App</title>
    </head>
    <body>
        <div id="bannerbackground" class="p-5 mb-5 text-center text-white"  style="background-image:url('./images/beach2.jpg'); background-position: 0% 50%; background-size:auto">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold text-bg-light" >Vacation Destinations WishList</h1>
              <h5>Found exciting places to visition on your next vacation? Use the form below to add them to your wishlist</h5>
            </div>
        </div>
        <div class="row" style="margin: 0% 10% 0% 10%">
            <!--Form-->
            <div class="col-md-3">
                <form action="/vacations" method="POST" id="destinationForm" class="p-5 shadow-lg rounded-3 border border-secondary">
                    <!-- Destination-->
                    <div class="mb-3">
                      <label for="destInput" class="form-label"><i class="bi-map-fill p-2"></i>  Destination name</label>  
                      <input type="text" class="form-control" id="destInput" placeholder="Enter the name of the destination" name="destination" required>
                    </div>
                    <!--Location-->
                    <div class="mb-3">
                        <label for="locationInput" class="form-label"><i class="bi-airplane-fill p-2"></i>Location</label>
                        <input type="text" class="form-control" id="locationInput" placeholder="Where is it located?" name="location" required>
                    </div>
                    <!--Description-->
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label"><i class="bi-pencil-square p-2"></i>Description</label>
                        <textarea class="form-control" rows="3" id="descriptionInput" placeholder="Describe the location" name="description"></textarea>   
                    </div>
                    <button type="submit" class="btn btn-primary" >Add to list</button>
                  </form>
            </div>

            <!--View-->
            <div id="view" class="col-md-8">
                <h3 id="viewHeading" class="text-center"> Enter destination details</h3>
                 <div id="container" class="row row-cols-auto">
                    <% for (var i = 0; i < vacations.length; i++) { %>
                        <div class="col m-2">
                           <div class="card shadow">
                                <img src="<%= vacations[i].image %>" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><%= vacations[i].destination %></h5>
                                    <h6><%= vacations[i].location %></h6>
                                    <p class="card-text"><%= vacations[i].description %></p>
                                    <button type="button" class="btn btn-warning edit" data-id="<%= vacations[i]._id %>" onclick="edit('<%= vacations[i]._id %>')">Edit</button>
                                    <button type="button" class="btn btn-danger delete" data-id="<%= vacations[i]._id %>" onclick="deleteCard('<%= vacations[i]._id %>')">Delete</button>
                                </div>
                            </div>
                        </div>
                    <% } %>
                 </div>
            </div>
        </div>
        <!--Scripts-->
        <script src="/js/script.js"></script>
    </body>
</html>